<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/library/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="<%= icon %>" type="image/x-icon">
</head>

<body>
    <div class="container">
        <h4>Welcome to the Chat Room</h4>
        <input id="userName" type="text" value="" placeholder="نام خود را وارد کنید" required>
        <input id="connect" class="btn" type="button" value="پیوستن به چت">

    </div>
   <script src="/js/index.js"></script>
</body>

</html>